<% content_for :title, "Editing desenvolvedora" %>

<h1>Editing desenvolvedora</h1>

<%= render "form", desenvolvedora: @desenvolvedora %>

<br>

<div>
  <%= link_to "Show this desenvolvedora", @desenvolvedora %> |
  <%= link_to "Back to desenvolvedoras", desenvolvedoras_path %>
</div>
