<% content_for :title, "New desenvolvedora" %>

<h1>New desenvolvedora</h1>

<%= render "form", desenvolvedora: @desenvolvedora %>

<br>

<div>
  <%= link_to "Back to desenvolvedoras", desenvolvedoras_path %>
</div>
