<% content_for :title, "Editing marcador" %>

<h1>Editing marcador</h1>

<%= render "form", marcador: @marcador %>

<br>

<div>
  <%= link_to "Show this marcador", @marcador %> |
  <%= link_to "Back to marcadors", marcadors_path %>
</div>
