<div id="<%= dom_id analise %>">
  <p>
    <strong>Nota:</strong>
    <%= analise.nota %>
  </p>

  <p>
    <strong>Analise:</strong>
    <%= analise.analise %>
  </p>

  <p>
    <strong>Jogo:</strong>
    <%= analise.jogo_id %>
  </p>

</div>
