<% content_for :title, "Editing analise" %>

<h1>Editing analise</h1>

<%= render "form", analise: @analise %>

<br>

<div>
  <%= link_to "Show this analise", @analise %> |
  <%= link_to "Back to analises", analises_path %>
</div>
